<a href="https://colab.research.google.com/github/hernanescorp/python_2026/blob/main/PYTHON.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# **PYTHON PROGRAMMING**

## PRINT WITH PYTHON & STRINGS

In [ ]:
print('Hola mundo')

Hola mundo

In [ ]:
print('Hernan', 'Escriba')

Hernan Escriba

In [ ]:
print('Hernan'+'Escriba')

HernanEscriba

In [ ]:
print('Hernan' + ' ' + 'Escriba')

Hernan Escriba

SEP, END

In [ ]:
print('Hernan','Escriba', sep='-')

Hernan-Escriba

In [ ]:
print('Hernan', end=' ')
print('Escriba')

Hernan Escriba

STRING AS VAR

In [ ]:
frase = 'Al que madruga Dios lo ayuda'
author = 'Hernan Escriba'
print('frase: ', frase, 'Autor: ', author)

frase:  Al que madruga Dios lo ayuda Autor:  Hernan Escriba

Use of F-STRING

In [ ]:
frase = 'Pussies love me'
author = 'Hernan Escriba'

print(f'frase: {frase}, Autor: {author}')

frase: Pussies love me, Autor: Hernan Escriba

Use of FORMAT

In [ ]:
print('Frase: {}, Autor: {}'.format(frase,author) )

Frase: Pussies love me, Autor: Hernan Escriba

Decimal format print:

In [ ]:
var = 3.141567
print('Valor: {:.2f}'.format(var))

Valor: 3.14

line breaks o new lines

In [ ]:
print('Hernan\nEscriba')

Hernan
Escriba

In [ ]:
print('Hola soy \'Hernan\'')

Hola soy 'Hernan'

In [ ]:
print('La ruta es: C:\\Users\\Hernan')

La ruta es: C:\Users\Hernan

In [ ]:
"""
Comentario que
Ocupa varias
Lineas
"""
print(5)

5

In [ ]:
print(''' Este es un print de varias
Lineas''')

 Este es un print de varias
Lineas

## VARIABLES

In [ ]:
x = 5
print(x)

y = x + 5
print(y)

5
10

Introducir data:

In [ ]:
entrada = input('Introduce un Dato: ')
print('Tu dato elegido es: ',entrada)

Introduce un Dato: 4
Tu dato elegido es:  4

Diccionarios:

In [ ]:
d = {
    'clave1' : 'Valor1',
    'Clave2' : 'valor2',
    'Clave3' : 'Valor3'
}


for x,y in d.items():
  print(x, '-->',y)

clave1 --> Valor1
Clave2 --> valor2
Clave3 --> Valor3

Listas:

In [ ]:
a = [1,2,3,4]
type(a)

print(a[1:])
print(a[0])
print(type(a))

[2, 3, 4]
1
<class 'list'>

### TIPOS DE DATOS

In [ ]:
x = 'string'
n = 2

print(x,n)
print('var x es de tipo: ', type(x), 'var n es: ', type(n))

string 2
var x es de tipo:  <class 'str'> var n es:  <class 'int'>

### Cambiar valor a variables

In [ ]:
x = 'string'

n = 3

x = x + str(n)

print(x)

string3

### Asignacion de valores

In [ ]:
x, y = 1,2
print(x,' ', y)

x,y = y, x
print(x,' ', y)

1   2
2   1

In [ ]:
x, y = 1,2
print(x, y)
#Asignacion donde se pierde el valor original de x
x = y
y = x

print(x,y)

1 2
2 2

In [ ]:
x, y, z = 1, 3.4, 'Test'

print(x, y, z)

1 3.4 Test

In [ ]:
x=y=z=1

print(x,y,z)

1 1 1

### Borrado de variables

In [ ]:
x, y = 1,2
print(x,y)

del(x)

print(x,y)

1 2

NameError: name 'x' is not defined

## OPERADORES MATEMATICOS Y LOGICOS

Multiplicacion

In [ ]:
print(4 * 2)

8

Division

In [ ]:
print(5/2)

2.5

In [ ]:
print(2/0)

ZeroDivisionError: division by zero

Orden de ejecucion:

In [ ]:
print(3*2+1)
print(1+3*2)
print((1+3)*2)

7
7
8

Secuancias

In [ ]:
print(3+-+4)
print(3--4)

-1
7

Division, redondeo y resto

In [ ]:
print(10//3)
print(10//6.0)

print(10%3)
print(20.2%7)
print(round(20.2%7))
round(1.6)

3
1.0
1
6.199999999999999
6

2

Potencias

In [ ]:
print(2**3)

print(pow(2,3))

8
8

### DIVMOD & ROUND

Argumentos positivos y Cero

In [ ]:
print(divmod(12,5))
print(divmod(8,4))

print(round(1.1234,2))
print(round(1.123,1))
print(round(1.1234,6))

x = round(1.1233,0)
print(type(x))

x = round(1.123)
print(type(x))

print(round(6.5))
print(round(5.5))
print(round(1.75,1))

(2, 2)
(2, 0)
1.12
1.1
1.1234
<class 'float'>
<class 'int'>
6
6
1.8

Argumentos NEGATIVO

In [ ]:
print(round(1324, -2)) #Centenas
print(round(1324,-3)) #miles
print(round(1324,-4))

1300
1000
0

Redondeo anterior y Posterior

In [ ]:
from math import floor, ceil

print(floor(5/2))
print(
    ceil(5/2)
)

2
3

### MAX, ABS, MIN, SUM

In [110]:
print(abs(-1))

print(max(1,2,3))
print(max(
    'AB','BA'
))


print(
    min(
        -1,3,4
    )
)

print(
    min(
        'A','B'
    )
)

print(
    sum(
        (1,2,3) #rango
    )
)

print(
    sum(
        [1,2,3] #lista
    )
)

print(
    sum(
        {1,2,3} #Diccionario
    )
)

print(range(4))

print(
    sum(
        range(4)
    )
)

1
3
BA
-1
A
6
6
6
range(0, 4)
6

### SORTED

In [115]:
print(
    sorted(
        (3,2,1)
    )
)

print(
    sorted(
        {3,2,1}
    )
)

print(
    sorted(
        [3,2,1]
    )
)

print(
    sorted(
        range(20)
    )
)

[1, 2, 3]
[1, 2, 3]
[1, 2, 3]
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

### OPERADORES LOGICOS

In [119]:
#and
print(True and True)

print(True and False )

print(False and True)

print(False and False)

True
False
False
False

In [123]:
#or
print(True or True)

print(True or False)

print(False or True)

print(False or False)

True
True
True
False

In [125]:
#not

print(not True)

print(not False)

False
True

Expresiones Compuestas

In [128]:
print(not True and False)
print((not True) and False)
print(not(True and False))

False
False
True

In [130]:
print(not True or False)
print((not True) or False)

False
False

In [132]:
print(True and False or True)
print(True and (False or True))

True
True

In [136]:
print(4 or 3)
print(3 or 4)

print(bool(3 and 4))
print(bool(4 or 3))

4
3
True
True

Comparaciones

In [143]:
print(15>14)
print(14>15)

print(3 == 2+1)

print(6/3 != 2)


print(4 == 3+1 >= 5)

True
False
True
False
False

### Operadores de Asignacion

In [148]:
r = 1

r +=1

print(r)

2

In [149]:
r = 1

r -=1

print(r)

0

In [158]:
r = 2
r *=5

print(r)

r /=5

print(r)

r **=2

print(r)

r//=2
print(r)

r%=2
print(r)

10
2.0
4.0
2.0
0.0

### EJERCICIO

In [162]:
magic = 12345679
num = int(input('Nº de 1 al 9: '))
if(num > 0 and num <9):
  num *=9
  magic*=num
  print(magic)
else:
  print('Nº del 1 al 9!')

Nº de 1 al 9: 1
111111111

## FORMATEO DE CADENAS

In [163]:
x = 'pythom'
print(x * 5)

pythompythompythompythompythom

In [170]:
var1 = 'COMO'
var2 = 'Estas'

print('¿ %s %s?'%(var1, var2)) # usamos %s para meter strings

¿ COMO Estas?

In [171]:
var1 = 'El numero es'
var2 = 9
print('- %s : %f'%(var1, var2))

- El numero es : 9.000000

In [173]:
value1 = 'Es'
value2 = 1.22344556667888
print('%s : %2f'%(value1,value2))

Es : 1.223446

In [179]:
string1 = 'String'
caracter = 'S'
dec = 10.232453
entero = 3
octal = 0o27
hexa=0x21

print('%s, %c, %4f, %d, %o, %x'%(string1,caracter, dec, entero, octal, hexa))

String, S, 10.232453, 3, 27, 21

In [180]:
exp = 'hola'
carac = 'S'
result = 1.22345565434

print('{}, {}, {}'.format(exp,carac, result))

hola, S, 1.22345565434

In [184]:
print('{:>50}'.format('Alinear cadena a la derecha'))
print('{:^30}'.format('Alinear Centro'))

                       Alinear cadena a la derecha
        Alinear Centro

## BOOLEANOS

Valores nulos de cualquier tipo es FALSE

In [190]:
print(bool(0.0))
print(bool(''))
print(bool(None))
print(bool(()))
print(bool([]))
print(bool({}))

False
False
False
False
False
False

Los demas tipos que tengan NO nulos son TRUE

In [191]:
print(bool(0.1))
print(bool('G'))

print(bool((4,7)))
print(bool([9]))
print(bool({6}))

True
True
True
True
True

## TIPOS DE DATOS COMPLEJOS

### RANGOS

Listas inalterables

In [197]:
#range(n)
valor = range(10)
print(valor)

print(list(valor))

print(list(range(0)))
print(list(range(-2)))

range(0, 10)
[0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
[]
[]

In [200]:
#range(n,m) desde n incluido hasta m-1 incluido

valor = range(5,10)
print(list(valor))

print(list(range(-5,1)))
print(list(range(5,1)))

[5, 6, 7, 8, 9]
[-5, -4, -3, -2, -1, 0]
[]

In [202]:
print(list(range(1,21,3)))
print(list(range(10,2,-2)))

[1, 4, 7, 10, 13, 16, 19]
[10, 8, 6, 4]

Unir Rangos

In [203]:
print(list(range(3)) + list(range(4,10)))

[0, 1, 2, 4, 5, 6, 7, 8, 9]

### TUPLAS

In [216]:
tupla = (1,1,2,3)
print(tupla)
print(tupla.count(1))
print(type(tupla))

print(tupla.index(3))
print(tupla[3])

(1, 1, 2, 3)
2
<class 'tuple'>
3
3

### LISTAS

In [223]:
lista = [1,2,3,4,5]
print(lista[1])
print(len(lista))
print(lista[len(lista)-1])
print(lista[-len(lista)])
print(lista)
lista[0]=5
print(lista)

2
5
5
1
[1, 2, 3, 4, 5]
[5, 2, 3, 4, 5]

In [238]:
from ast import List
lista = ['A', 'B', 'C']
print(lista)

lista.append('D')
print(lista)

lista.append('A')
print(lista)

lista.count('A')

lista.extend('Z')
print(lista)

lista.index('A')
lista.index('A',2)

print(lista[lista.index('A')])

lista.insert(1,'X')
print(lista)


print(lista.pop())
print(lista)

print(lista.pop(1))
print(lista)

lista.remove('A')
print(lista)

['A', 'B', 'C']
['A', 'B', 'C', 'D']
['A', 'B', 'C', 'D', 'A']
['A', 'B', 'C', 'D', 'A', 'Z']
A
['A', 'X', 'B', 'C', 'D', 'A', 'Z']
Z
['A', 'X', 'B', 'C', 'D', 'A']
X
['A', 'B', 'C', 'D', 'A']
['B', 'C', 'D', 'A']

In [245]:
from IPython.core.magics.code import version
versiones = [1.2, 3.0, 2.0, 1.3, 5.0, 4.5]

print(versiones)

versiones.reverse()
print(versiones)

versiones.sort()
print(versiones)

versiones.sort(reverse=True)
print(versiones)

print(versiones.index(1.2))

[1.2, 3.0, 2.0, 1.3, 5.0, 4.5]
[4.5, 5.0, 1.3, 2.0, 3.0, 1.2]
[1.2, 1.3, 2.0, 3.0, 4.5, 5.0]
[5.0, 4.5, 3.0, 2.0, 1.3, 1.2]
5

### DICCIONARIOS

In [258]:
from typing import Type
dic = {
    'Name':'Hernan',
    'Tel' : 611121817,
    'Mat' : ['PC','Handy','ssd']
}
print(dic)
print(type(dic))
print(dic['Name'],type(dic['Name']))
print(dic['Tel'], type(dic['Tel']))

print(dic['Mat'])

dic['Name'] = 'Hernando'
print(dic)

print('Mat' in dic)
print('Sexo' in dic)

{'Name': 'Hernan', 'Tel': 611121817, 'Mat': ['PC', 'Handy', 'ssd']}
<class 'dict'>
Hernan <class 'str'>
611121817 <class 'int'>
['PC', 'Handy', 'ssd']
{'Name': 'Hernando', 'Tel': 611121817, 'Mat': ['PC', 'Handy', 'ssd']}
True
False

In [269]:
dic.clear()
print(dic)
dic = {
    'Name':'Hernan',
    'Tel' : 611121817,
    'Mat' : ['PC','Handy','ssd']
}

{}

In [271]:
dic2 = dict()
print(dic2)
dic2 = dic.copy()
print(dic2)

{}
{'Name': 'Hernan', 'Tel': 611121817, 'Mat': ['PC', 'Handy', 'ssd']}

In [276]:
vars = ('Name', 'Altura', 'Peso')
dic = dict.fromkeys(vars)
print(dic)

dic = dict.fromkeys(vars, 'rellenar')
print(dic)

{'Name': None, 'Altura': None, 'Peso': None}
{'Name': 'rellenar', 'Altura': 'rellenar', 'Peso': 'rellenar'}

In [283]:
dic = dict(
    name = 'Hernan',
    altura = 1.8,
    gustos = ['latinas','alemanas', 'asiaticas']
    )
print(dic.get('name'))

print(dic.items())

print(dic.keys())

print(dic.pop('altura'))

print(dic)

print(dic.popitem())
print(dic)

Hernan
dict_items([('name', 'Hernan'), ('altura', 1.8), ('gustos', ['latinas', 'alemanas', 'asiaticas'])])
dict_keys(['name', 'altura', 'gustos'])
1.8
{'name': 'Hernan', 'gustos': ['latinas', 'alemanas', 'asiaticas']}
('gustos', ['latinas', 'alemanas', 'asiaticas'])
{'name': 'Hernan'}

In [290]:
dic = dict(
    name = 'Hernan',
    altura = 1.8,
    gustos = ['latinas','alemanas', 'asiaticas']
    )

print(dic)

nombre = dic.setdefault('name')
print(nombre)

dic['Apellidos'] = 'Escriba'
print(dic)

dic2 = dict(
    carrera = 'Ing'
)

print(dic2)

dic.update(dic2)
print(dic)

print(dic.values())

{'name': 'Hernan', 'altura': 1.8, 'gustos': ['latinas', 'alemanas', 'asiaticas']}
Hernan
{'name': 'Hernan', 'altura': 1.8, 'gustos': ['latinas', 'alemanas', 'asiaticas'], 'Apellidos': 'Escriba'}
{'carrera': 'Ing'}
{'name': 'Hernan', 'altura': 1.8, 'gustos': ['latinas', 'alemanas', 'asiaticas'], 'Apellidos': 'Escriba', 'carrera': 'Ing'}
dict_values(['Hernan', 1.8, ['latinas', 'alemanas', 'asiaticas'], 'Escriba', 'Ing'])

## ESTRUCTURAS DE FLUJO

### CONDICIONALES

In [ ]:

in1 = input('Introduce un numero: ')
in1=int(in1)

in2 = input('Introduce otro: ')
in2 = int(in2)

if (in1 > in2):
  print('El valor inicial:', in1, 'Es mayor que ', in2 )
else:
    print('El valor inicial:', in2, 'Es mayor que ', in1 )

Introduce un numero: 4
Introduce otro: 5
El valor inicial: 5 Es mayor que  4

In [ ]:
entrada = input('Introducir dato: ')
entrada = int(entrada)

if entrada == 1:
  print('La opcion incorrecta')
elif entrada == 2:
  print('La opcion Incorrecta')
elif entrada == 3:
  print('Opcion correcta')
else:
  print('Fuera de rango')

Introducir dato: 7
Fuera de rango

### ITERATIVAS

In [ ]:
year = 2020
while (year < 2026):
  print(year)
  year +=1

2020
2021
2022
2023
2024
2025

In [ ]:
lista = ['Valor1', 'valor2', 'valor3']
for valor in lista:
  print(valor)

Valor1
valor2
valor3